(
    imports: ["./assets/color.ron"],
    camera: (
        position: (0, 0, 0),
        rotation: (0, 0, 0),
        resolution: (4096, 4096),
        fov: 1
    ),
    primitives: [
        (
            kind: "sphere",
            config: (
                radius: 1.0,
            ),
            transform: (
                translation: (2, 0, -3),
                rotation: (0, 0, 0),
                scale: (1, 1, 1)
            ),
            material: "@CYAN",
        ),
        (
            kind: "plane",
            config: (
                normal: (0.0, 1.0, 0.0),
            ),
            transform: (
                translation: (0.0, 0.8, 0.0),
                rotation: (0, 0, 0),
                scale: (1, 1, 1)
            ),
            material: "@BLUE",
        ),
    ],
    lights: [],
)
