(
    imports: ["./assets/color.ron"],
    camera: (
        position: (0, 0, 2),
        rotation: (0, 0, 0),
        resolution: (width: 1920, height: 1080),
        fov: 1
    ),
    primitives: [
        (
            kind: "sphere",
            config: (
                radius: 1.0,
            ),
            transform: (
                translation: (2, 0, -3),
            ),
            material: "@CYAN",
        ),
        (
            kind: "sphere",
            config: (
                radius: 1.0,
            ),
            transform: (
                translation: (-2, 0, -3),
            ),
            material: "@CYAN",
        ),
        (
            kind: "plane",
            config: (
                normal: (0.0, 1.0, 0.0),
            ),
            transform: (
                translation: (0.0, -1.0, 0.0),
            ),
            material: "@BLUE",
        ),
    ],
    lights: [
        (
            kind: "point_light",
            config: (
                position: (x: 0, y: 5, z: 0),
                intensity: (0.5, 0.5, 0.5),
            ),
        ),
    ],
)
