(
    imports: ["./color.ron"],
    components: {
        "Roue": (
            primitives: [
                (kind: "cylinder", config: (radius: 0.4, height: 0.3), transform: (scale: (2, 2, 2)), material: "@WHITE"),
                (kind: "cylinder", config: (radius: 0.2, height: 0.4), transform: (scale: (1, 1, 1)), material: "@BLACK"),
            ]
        ),
        "Car": (
            props: ["color"],
            primitives: [
                (
                    kind: "Roue",
                    transform: (
                        translation: (-2,  0,  0),
                        rotation: (90, 0, 0)
                    )
                ),
                (
                    kind: "Roue",
                    transform: (
                        translation: (2,  0,  0),
                        rotation: (90, 0, 0)
                    )
                ),
                (
                    kind: "Roue",
                    transform: (
                        translation: (-2,  0,  2),
                        rotation: (90, 0, 0)
                    )
                ),
                (
                    kind: "Roue",
                    transform: (
                        translation: (2,  0,  2),
                        rotation: (90, 0, 0)
                    )
                ),
                (
                    kind: "cube",
                    config: (half_size: (2., 0.5, 1.)),
                    transform: (translation: (0, 0.35, 1), rotation: (0, 0, 0)),
                    material: "@color",
                ),
                (
                    kind: "cube",
                    config: (half_size: (1.5, 0.5, 1.)),
                    transform: (translation: (-0.5, 1, 1), rotation: (0, 0, 0)),
                    material: "@color",
                ),
                (
                    kind: "cube",
                    config: (half_size: (0.1, 0.3, 0.3)),
                    transform: (translation: (1, 1, 1.6), rotation: (0, 0, 0)),
                    material: "@BLACK",
                ),
                (
                    kind: "cube",
                    config: (half_size: (0.1, 0.3, 0.3)),
                    transform: (translation: (1, 1, 0.5), rotation: (0, 0, 0)),
                    material: "@BLACK",
                )
            ]
        ),
    },
)
